section{
  padding: 15px;
}
section h2{
  margin: 0;
}
table{
  width: 100%;
  box-shadow: 0 0 3px gray;
}
table th{
  background-color: gray;
  color: white;
}
mat-icon{
  font-size: 20px;
  cursor: pointer;
}
